div.columns(v-cloak="")
  div.column.is-12
    messages(v-bind:messages="messages")

    div.card

      header.card-header
        p.card-header-title Exportar Arquivo

      div.card-content
        h2.subtitle Exportar base de dados de anotações.

        div.control(style="margin-bottom: 1em;")
          block select-format-area

        block example-format-area

        button.button.is-dark(
          style="margin-top: 1em;"
          type="submit"
          v-on:click="download()"
          v-bind:class="{'is-loading': isLoading}"
        )
          span.icon
            span.fas.fa-download
          span Exportar
